 <css href='/Public/Js/jquery-ui/jquery-ui.min.css' />
<css href='/Public/Js/jquery-ui/jquery-ui.structure.min.css' />
<css href='/Public/Js/jquery-ui/jquery-ui.theme.min.css' />
<css href='__CSS__/style.css' />
 <css href='__CSS__/System_config.css' />
<div id='systemUser'>
    <table class="table userTable">
        <tr>
         <th>id</th>
         <th>登陆名</th>
         <th>会员属性</th>
         <th>最后登录</th>
         <th>操作</th>
        </tr>
    </table>
</div>
 <script type="text/template" id="tpl_user">
    <% _.each(config, function(item) {%>
        <tr>
            <td>
                <%= item.id %>
            </td>
            <td class="info"><%= item.username %>
            </td>
            <td>
                <% if ( +item.type === 1) { %>
                <%= '超级管理员'%>
                <% } else {%>
                <%= '普通管理员'%>
                <% } %>
            </td>
            <td>
                <div class='lastLoginTop'>
                    <%= item.logintime %>
                </div>
                <div>
                    <%= item.loginip %>
                </div>
            </td>
            <td>操作</td>
        </tr>
      <% }) %>
</script>
<js href='__JS__/jquery.js'/>
<js href='__JS__/jquery-ui/jquery-ui.min.js'/>
<js href='__JS__/underscore.js'/>
<js href='__JS__/backbone.js'/>
<js href='__JS__/admin/user.js'/>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<js href="/Public/Bs/js/bootstrap.min.js"/>